# Predicting Loan Default Rate with Loan Data-2017 Q2

### The objectives of this project are the followng:
1. Explorer the "Loan Data-2017 Q2" dataset available from Lending Club and describe the data using charts and metrics
2. Select/create features to be used in models in order to predict borrowers' default rate on loans
3. Build several classifiers in scikit-learn and select two with highest scores; determine feature significance

The Dataset was downloaded [here](https://www.lendingclub.com/info/download-data.action) from the Lending Club website, and a copy of the dataset has been stored in the same directory of this notebook.

# Loading, Cleaning and Preprocessing the Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import ExtraTreeClassifier
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)

I'll load the LoanStatus.csv file with the following initial cleanups on the dataset:

* Remove the first line: It contains extraneous text instead of the column titles. This text prevents the dataset from being parsed properly by the pandas library.
* Remove the 'desc' column: it contains a long text explanation for the loan.
* Remove the 'url' column: it contains a link to each on Lending Club which can only be accessed with an investor account.
* Remove all columns with more than 1% missing values.
* The id's and member id's are missing as mentioned in the requirement, but it is irrelevant to our analysis and will be removed by the previous clearning step.
* Remove the last two observations of the datasets as they contain totals without any other informaiton.

In [2]:
df_loan = pd.read_csv('LoanStats_2017Q2.csv',
                      skiprows=1,
                      low_memory=False)
df_loan = df_loan.drop(['desc', 'url'], axis=1)
df_loan = df_loan.dropna(thresh=(len(df_loan) * 0.99), axis=1)
df_loan = df_loan.iloc[:-2]

In [3]:
df_loan.head(3)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,25000.0,25000.0,25000.0,60 months,15.05%,595.41,C,C4,10+ years,RENT,60000.0,Source Verified,Jun-2017,Current,n,credit_card,Credit card refinancing,852xx,AZ,15.98,0.0,Dec-1997,0.0,13.0,0.0,26947.0,73.2%,18.0,w,23529.25,23529.25,2803.48,2803.48,1470.75,1332.73,0.0,0.0,0.0,Nov-2017,595.41,Nov-2017,0.0,1.0,Individual,0.0,0.0,26947.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,12643.0,73.0,36800.0,0.0,0.0,0.0,3.0,2073.0,0.0,0.0,234.0,10.0,10.0,0.0,0.0,6.0,10.0,7.0,8.0,2.0,13.0,16.0,10.0,13.0,0.0,0.0,1.0,100.0,0.0,0.0,36800.0,26947.0,24800.0,0.0,N,Cash,N
1,26000.0,26000.0,26000.0,36 months,9.93%,838.10,B,B2,7 years,OWN,57900.0,Not Verified,Jun-2017,Current,n,home_improvement,Home improvement,198xx,DE,12.19,0.0,Jul-1998,0.0,7.0,1.0,6857.0,12.4%,10.0,w,23477.10,23477.10,3316.54,3316.54,2522.90,793.64,0.0,0.0,0.0,Nov-2017,838.10,Nov-2017,0.0,1.0,Individual,0.0,0.0,41031.0,0.0,2.0,0.0,0.0,34174.0,0.0,0.0,3037.0,46.0,55300.0,1.0,0.0,0.0,0.0,5862.0,0.0,0.0,227.0,33.0,26.0,0.0,0.0,3.0,3.0,5.0,5.0,5.0,5.0,5.0,3.0,7.0,0.0,0.0,0.0,100.0,0.0,1.0,89700.0,41031.0,55300.0,34400.0,N,Cash,N
2,20000.0,20000.0,20000.0,36 months,9.44%,640.10,B,B1,< 1 year,RENT,70000.0,Not Verified,Jun-2017,Current,n,credit_card,Credit card refinancing,300xx,GA,25.61,2.0,Aug-1992,0.0,8.0,0.0,20589.0,81.7%,14.0,w,18046.03,18046.03,2534.18,2534.18,1953.97,580.21,0.0,0.0,0.0,Nov-2017,640.10,Nov-2017,0.0,1.0,Individual,0.0,0.0,37895.0,1.0,2.0,0.0,0.0,17306.0,1.0,3.0,19372.0,56.0,25200.0,0.0,0.0,0.0,3.0,5414.0,0.0,0.0,298.0,6.0,6.0,0.0,0.0,2.0,3.0,3.0,5.0,3.0,6.0,11.0,3.0,8.0,0.0,0.0,1.0,84.6,0.0,0.0,67717.0,37895.0,22900.0,42517.0,N,Cash,N

In [4]:
df_loan.tail(3)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
105448,10050.0,10050.0,10050.0,36 months,16.99%,358.26,D,D1,8 years,RENT,37000.0,Not Verified,Apr-2017,Current,n,debt_consolidation,Debt consolidation,220xx,VA,20.56,0.0,May-1993,1.0,15.0,0.0,14300.0,47%,21.0,w,8472.47,8472.47,2498.33,2498.33,1577.53,920.80,0.00,0.0,0.0,Nov-2017,358.26,Nov-2017,0.0,1.0,Individual,0.0,0.0,14300.0,3.0,0.0,0.0,0.0,0.0,5.0,9.0,3007.0,47.0,30400.0,0.0,0.0,1.0,9.0,1021.0,0.0,0.0,286.0,2.0,2.0,0.0,0.0,3.0,13.0,3.0,4.0,3.0,15.0,18.0,13.0,15.0,0.0,0.0,5.0,95.2,0.0,0.0,30400.0,14300.0,9000.0,0.0,N,Cash,N
105449,6000.0,6000.0,6000.0,36 months,11.44%,197.69,B,B4,5 years,RENT,41000.0,Source Verified,Apr-2017,Current,n,credit_card,Credit card refinancing,105xx,NY,19.99,1.0,May-1990,0.0,9.0,0.0,1356.0,10.1%,18.0,w,4987.99,4987.99,1389.56,1389.56,1012.01,377.55,0.00,0.0,0.0,Nov-2017,197.69,Nov-2017,0.0,1.0,Individual,1.0,0.0,26201.0,0.0,3.0,1.0,2.0,24845.0,0.0,0.0,276.0,55.0,13400.0,3.0,0.0,3.0,2.0,3275.0,0.0,51.0,322.0,32.0,12.0,0.0,0.0,2.0,3.0,2.0,4.0,9.0,6.0,9.0,3.0,8.0,0.0,0.0,1.0,94.4,0.0,0.0,47476.0,26201.0,8100.0,34076.0,N,Cash,N
105450,30000.0,30000.0,30000.0,60 months,25.49%,889.18,E,E4,4 years,MORTGAGE,105700.0,Verified,Apr-2017,Charged Off,n,debt_consolidation,Debt consolidation,797xx,TX,27.26,1.0,Nov-1997,0.0,12.0,0.0,15252.0,72.6%,23.0,w,0.00,0.00,1236.63,1236.63,251.93,940.24,44.46,0.0,0.0,Oct-2017,20.00,Nov-2017,0.0,1.0,Individual,0.0,0.0,239458.0,0.0,5.0,0.0,2.0,60567.0,0.0,0.0,7209.0,69.0,21000.0,2.0,0.0,1.0,3.0,19955.0,0.0,0.0,232.0,31.0,9.0,3.0,0.0,3.0,4.0,3.0,3.0,11.0,6.0,9.0,4.0,12.0,0.0,0.0,1.0,91.3,0.0,0.0,275706.0,75819.0,16000.0,89732.0,N,Cash,N

In [5]:
df_loan.shape

(105451, 91)

100 features are simply too many to manage. I started with understanding each of the columns by reading through the data dictionary and identifying features that are not appropriate for our analysis. Load the data dictionary into a dataframe.

In [6]:
data_dictionary = pd.read_excel('LCDataDictionary.xlsx') # Loading in the data dictionary

In [7]:
data_dictionary.head()

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.

I'll join the two dataframe to get the description for the 91 columns left in our dataframe.

In [8]:
df_loan_dtypes = pd.DataFrame(df_loan.dtypes, columns=['dtypes']).reset_index()
df_loan_dtypes['first value'] = df_loan.loc[0].values
df_joined = pd.merge(df_loan_dtypes,
                     data_dictionary,
                     how='left',
                     left_on='index',
                     right_on='LoanStatNew')
df_joined.drop('LoanStatNew', axis=1, inplace=True)

Go through every column in the joined dataframe and identify features to be excluded. I exclude features that:
* leaks information from the future (after the loan has already been funded)
* are poored formatted
* contain redundant informaiton

In [9]:
# df_joined[:20]

It turns out that Lending Club uses a borrower's grade and payment term (30 or months) to assign an interest rate. This causes variations in interest rate within a given grade. So here we should keep the grade column and drop interest int_rate and sub_grade.

In [10]:
columns_to_drop = ['int_rate', 'installment', 'sub_grade', 'zip_code']

In [11]:
# df_joined[20:40]

This group contains several features that leak information from the future if are included in the model. Anything related to outstanding principal or interest, and late payment information is not available at the initiation of the loan. Therefore, they are not useful in predicting future default and may cause our model to overfit.

In [12]:
columns_to_drop.extend(['out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d'])

In [13]:
# df_joined[40:60]

In [14]:
columns_to_drop.extend(['last_pymnt_amnt'])

In [15]:
# df_joined[60:80]

In [16]:
columns_to_drop.extend(['delinq_amnt'])

In [17]:
# df_joined[80:91]

In [18]:
columns_to_drop.extend(['hardship_flag', 'debt_settlement_flag'])

In [19]:
df_loan.drop(columns_to_drop, axis=1, inplace=True)

In [20]:
df_loan.shape

(105451, 73)

Next, investigate all the features with dtype "Object". Start by counting unique values within each columns

In [21]:
for col in df_loan.select_dtypes(include=['object']).columns:
    print ("{} has {} unique values".format(col, len(df_loan[col].unique())))

term has 2 unique values
grade has 7 unique values
emp_length has 12 unique values
home_ownership has 5 unique values
verification_status has 3 unique values
issue_d has 3 unique values
loan_status has 7 unique values
pymnt_plan has 2 unique values
purpose has 13 unique values
title has 12 unique values
addr_state has 49 unique values
earliest_cr_line has 627 unique values
revol_util has 1077 unique values
initial_list_status has 2 unique values
last_credit_pull_d has 10 unique values
application_type has 2 unique values
disbursement_method has 2 unique values

Here I'll drop features with too many different values for simplicity purposes.

In [22]:
df_loan.drop(['addr_state', 'earliest_cr_line', 'last_credit_pull_d'], axis=1, inplace=True)

Note that the "revol_util" column contains numeric values, but is formatted as object. So I format revol_util as numeric values.

In [23]:
df_loan['revol_util'] = df_loan['revol_util'].str.rstrip('%').astype('float')

It appears that the "purpose" and "title" columns contain similar information. Let's explore each of them by listing all their unique values.

In [24]:
for name in ['purpose','title']:
    print("Unique Values in column: {}\n".format(name))
    print(df_loan[name].value_counts(),'\n')

Unique Values in column: purpose

debt_consolidation    58557
credit_card           21261
home_improvement       9222
other                  7140
major_purchase         2616
medical                1648
car                    1334
vacation               1170
small_business         1034
moving                  945
house                   453
renewable_energy         70
wedding                   1
Name: purpose, dtype: int64

Unique Values in column: title

Debt consolidation         58564
Credit card refinancing    21254
Home improvement            9222
Other                       7139
Major purchase              2617
Medical expenses            1648
Car financing               1333
Vacation                    1170
Business                    1036
Moving and relocation        945
Home buying                  453
Green loan                    70
Name: title, dtype: int64

It turns out they do contain duplicate information (with an exception of "wedding" in the "purpose" feature but it is not significant). I will drop the "purpose" column to further clean up.

In [25]:
df_loan.drop(['purpose'], axis=1, inplace=True)

In [26]:
df_loan.select_dtypes(include=['object']).isnull().values.any()

False

And it's nice that we don't have missing values within our categorical features. So I can go ahead to encode them to numeric features so that they can be used in models. Here I label the ordinal features (emp_length and grade), and use one-hot encoding for all nominal features.

In [27]:
for col in df_loan.select_dtypes(include=['object']).columns:
    print ("{} has {} unique values".format(col, len(df_loan[col].unique())))

term has 2 unique values
grade has 7 unique values
emp_length has 12 unique values
home_ownership has 5 unique values
verification_status has 3 unique values
issue_d has 3 unique values
loan_status has 7 unique values
pymnt_plan has 2 unique values
title has 12 unique values
initial_list_status has 2 unique values
application_type has 2 unique values
disbursement_method has 2 unique values

List all values within grade and emp_length columns.

In [28]:
for name in ['grade','emp_length']:
    print("Unique Values in column: {}\n".format(name))
    print(df_loan[name].value_counts(),'\n')

Unique Values in column: grade

C    36880
B    31301
A    17898
D    12015
E     4847
F     1725
G      785
Name: grade, dtype: int64

Unique Values in column: emp_length

10+ years    35438
2 years       9914
< 1 year      9542
3 years       8495
1 year        7034
n/a           6697
4 years       6453
5 years       6382
6 years       4526
7 years       3847
9 years       3828
8 years       3295
Name: emp_length, dtype: int64

Next, map and replace values in each of the two columns with desired labels.

In [29]:
mapping_dict = {
    'emp_length': {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0

    },
    'grade':{
        "A": 1,
        "B": 2,
        "C": 3,
        "D": 4,
        "E": 5,
        "F": 6,
        "G": 7
    }
}

df_loan = df_loan.replace(mapping_dict)
df_loan[['emp_length','grade']].head()

   emp_length  grade
0          10      3
1           7      2
2           0      2
3           7      1
4           3      1

Use get_dummies function in pandas to encode the nominal features.

In [30]:
nominal_columns = ['home_ownership', 'verification_status', 'title', 'term', 'pymnt_plan', 'initial_list_status', 'application_type', 'disbursement_method', 'issue_d']
df_loan = pd.get_dummies(df_loan, columns=nominal_columns)

Now let's move on to clean up the numeric values. I first take a look at all the numeric features and see if there is any missing value.

In [31]:
# df_loan.select_dtypes(exclude=['object']).isnull().sum().sort_values()

By understading from the data dictionary, all the four columns that have missing values are specific to borrowers, and are hard to impute. I'll simply drop observations that have missing values as the numbers are not significant.

In [32]:
df_loan.dropna(inplace=True)

Let's take a final look at the dataframe before we move on to make sure everything is as expected.

In [33]:
df_loan.head(3)
# df_loan.shape
# df_loan.dtypes
# df_loan.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,grade,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,chargeoff_within_12_mths,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,title_Business,title_Car financing,title_Credit card refinancing,title_Debt consolidation,title_Green loan,title_Home buying,title_Home improvement,title_Major purchase,title_Medical expenses,title_Moving and relocation,title_Other,title_Vacation,term_ 36 months,term_ 60 months,pymnt_plan_n,pymnt_plan_y,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,disbursement_method_Cash,disbursement_method_DirectPay,issue_d_Apr-2017,issue_d_Jun-2017,issue_d_May-2017
0,25000.0,25000.0,25000.0,3,10,60000.0,Current,15.98,0.0,0.0,13.0,0.0,26947.0,73.2,18.0,0.0,1.0,0.0,0.0,26947.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,12643.0,73.0,36800.0,0.0,0.0,0.0,3.0,2073.0,0.0,234.0,10.0,10.0,0.0,0.0,6.0,10.0,7.0,8.0,2.0,13.0,16.0,10.0,13.0,0.0,0.0,1.0,100.0,0.0,0.0,36800.0,26947.0,24800.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,26000.0,26000.0,26000.0,2,7,57900.0,Current,12.19,0.0,0.0,7.0,1.0,6857.0,12.4,10.0,0.0,1.0,0.0,0.0,41031.0,0.0,2.0,0.0,0.0,34174.0,0.0,0.0,3037.0,46.0,55300.0,1.0,0.0,0.0,0.0,5862.0,0.0,227.0,33.0,26.0,0.0,0.0,3.0,3.0,5.0,5.0,5.0,5.0,5.0,3.0,7.0,0.0,0.0,0.0,100.0,0.0,1.0,89700.0,41031.0,55300.0,34400.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2,20000.0,20000.0,20000.0,2,0,70000.0,Current,25.61,2.0,0.0,8.0,0.0,20589.0,81.7,14.0,0.0,1.0,0.0,0.0,37895.0,1.0,2.0,0.0,0.0,17306.0,1.0,3.0,19372.0,56.0,25200.0,0.0,0.0,0.0,3.0,5414.0,0.0,298.0,6.0,6.0,0.0,0.0,2.0,3.0,3.0,5.0,3.0,6.0,11.0,3.0,8.0,0.0,0.0,1.0,84.6,0.0,0.0,67717.0,37895.0,22900.0,42517.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0

The final step of preprocessing the data is to deal with the target column "loan_status". The column contains several different classes and let's first take a look at the different values.

In [34]:
df_loan['loan_status'].value_counts()

Current               93552
Fully Paid             7718
Late (31-120 days)     1709
In Grace Period        1391
Late (16-30 days)       473
Charged Off             457
Default                   1
Name: loan_status, dtype: int64

For the purpose of this project, I'll categorize "Late (31-120 days)", "Late (16-30 days)", "Charged Off" and "Default" as the "Default" incidence and assign a value of 1. All other status will have a value of 0.

In [35]:
status_mapping = {'Current': 0, 'Fully Paid': 0, 'Late (31-120 days)': 1, 'In Grace Period': 0, 'Late (16-30 days)': 1, 'Charged Off': 1, 'Default': 1}
df_loan = df_loan.replace({'loan_status': status_mapping})
df_loan['loan_status'].value_counts()

0    102661
1      2640
Name: loan_status, dtype: int64

# Feature Selection

The resulting dataframe contains 93 columns and now we would like to choose representative variables to build prediction models. Because there are a lot of categorical variables, such as home ownership, verification, term, etc., in our dataset, variable selection methods such as PCA and LASSO might not be as suitable as decision tree like models. Here I choose the ExtraTreesClassifier as an estimator for the Recursive feature elimination method.

First, carve out the target column "loan_status".

In [36]:
y = df_loan['loan_status'].copy()
X = df_loan.drop('loan_status', axis=1).copy()

In [37]:
# # Create the RFE object
# clf = ExtraTreeClassifier()
# rfe = RFE(estimator=clf, n_features_to_select=10, step=1)
# rfe.fit(X, y)
# X.loc[:, rfe.support_].head(3)

In [38]:
# sorted(zip(rfe.ranking_, X.columns.values))

In [39]:
# X = X.loc[:, rfe.support_]

# Building Predictive Models

I would like to build two simple predictive models using SVC and Ada Boost classifiers respectively. First, perform scalling on the features and split the dataset into training and test set.

In [40]:
X = StandardScaler().fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=99)

Fit a SVC and an Ada Boost classifier to the training set and compare the score.

In [41]:
logreg = LogisticRegression(C=1e5).fit(X_train, y_train)
predicted = logreg.predict(X_test)
print('Logistic Regression\n', classification_report(y_test, predicted, target_names=['not default', 'default']))

Logistic Regression
              precision    recall  f1-score   support

not default       0.98      1.00      0.99     41080
    default       0.96      0.05      0.09      1041

avg / total       0.98      0.98      0.97     42121

In [42]:
# clf = SVC()
# clf.fit(X_train, y_train)
# predicted_clf = clf.predict(X_test)
# print('Support Vector Classifier\n', classification_report(y_test, predicted_clf, target_names=['not default', 'default']))

In [44]:
bdt = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),
                         algorithm="SAMME",
                         n_estimators=200)
bdt.fit(X_train, y_train)
predicted_bdt = bdt.predict(X_test)
print('Adaboost Classifier\n', classification_report(y_test, predicted_bdt, target_names=['not default', 'default']))

Adaboost Classifier
              precision    recall  f1-score   support

not default       0.98      1.00      0.99     41080
    default       0.96      0.05      0.09      1041

avg / total       0.98      0.98      0.97     42121

As the default loans account for only a small portion of the total number of loans (625 out of 26326), the target variable is indeed a very imbalanced one. Here I used f1-score as opposed to accuracy to take the precision/recall trade-off into consiferation.

From the results in the classification reports, the three classifiers generated similar metrics, all exhibiting high predicting power with high f1-scores.